/**
 * highlight.css
 * 
 * Custom syntax highlighting stylesheet for highlight.js
 * 
 * Created on 2 May 2025
 */

:root {
	--hljs-bg-color: #f8f8fa;
	--hljs-text-color: #393939;
	--hljs-keyword-color: mediumseagreen;
	--hljs-number-color: #ffbe4d; /* Darker Moccasin */
	--hljs-link-color: tomato;
	--hljs-meta-color: #b2c2cd;
	--hljs-var-color: steelblue;
	--hljs-string-color: hotpink;
	--hljs-comment-color: darkgray;
	--hljs-selector-class-color: #bb90bb; /* Darker Thistle */
	--hljs-title-color: rosybrown;
	--hljs-code-color: dimgray;
}

.dark {
	--hljs-bg-color: #2a2a2a;
	--hljs-text-color: lavenderblush;
	--hljs-keyword-color: #00ffaa; /* Darker Aquamarine */
	--hljs-number-color: lemonchiffon;
	--hljs-link-color: lightsalmon;
	--hljs-meta-color: #557182;
	--hljs-var-color: lightsteelblue;
	--hljs-string-color: #f3a5f3; /* Lighter Violet */
	--hljs-comment-color: gray;
	--hljs-selector-class-color: mediumpurple;
	--hljs-title-color: lavender;
	--hljs-code-color: white;
}

.hljs {
	background: var(--hljs-bg-color);
	color: var(--hljs-text-color);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-selector-id {
	color: var(--hljs-keyword-color);
}

.hljs-number {
	color: var(--hljs-number-color);
}

.hljs-regexp,
.hljs-link {
	color: var(--hljs-link-color);
}

.hljs-meta {
	color: var(--hljs-meta-color);
}

.hljs-tag,
.hljs-name,
.hljs-bullet,
.hljs-subst,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
	color: var(--hljs-var-color);
}

.hljs-string,
.hljs-symbol {
	color: var(--hljs-string-color);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
	color: var(--hljs-comment-color);
}

.hljs-selector-class {
	color: var(--hljs-selector-class-color);
}

.hljs-title,
.hljs-attribute {
	color: var(--hljs-title-color);
}

.hljs-code,
.hljs-title.class_,
.hljs-class .hljs-title,
.hljs-section {
	color: var(--hljs-code-color);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-strong {
	font-weight: bold;
}
