/**
 * main_style.css
 * Author: Riley Mann
 * 
 * Main stylesheet for zeropt.github.io
 * 
 * Created on 19 Apr. 2025
 */

:root {
	--theme-color: lemonchiffon;
	--bg-color: white;
	--border-color: black;
	--text-color: black;
	--heading-color: black;
	--link-color: steelblue;
	--button-color: lemonchiffon;
}

.spring {
	--theme-color: lightpink;
	--heading-color: lightpink;
	--link-color: lightpink;
	--button-color: lightpink;
}

.dark {
	--theme-color: #262626;
	--bg-color: #262626;
	--border-color: dimgray;
	--text-color: lavenderblush;
	--heading-color: lavenderblush;
	--link-color: lemonchiffon;
	--button-color: #393939;
}

.spring.dark {
	--theme-color: #262626;
	--heading-color: plum;
	--link-color: plum;
	--button-color: #393939;
}

html {
	height: 100%;
	background-image:
		url("img/dunescape_layer_5.webp"),
		url("img/dunescape_layer_4.webp"),
		url("img/dunescape_layer_3.webp"),
		url("img/dunescape_layer_2.webp"),
		url("img/dunescape_layer_1.webp"),
		url("img/dunescape_layer_0.webp"),
		url("img/dunescape_sky.png");
	background-position:
		center,
		center,
		center,
		center,
		center,
		center,
		center top;
	background-size:
		cover,
		cover,
		cover,
		cover,
		cover,
		cover,
		cover;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat;
	background-color: var(--theme-color);
	background-attachment: fixed;
}

html.dark {
	background-image:
		url("img/dunescape_layer_5_dark.webp"),
		url("img/dunescape_layer_4_dark.webp"),
		url("img/dunescape_layer_3_dark.webp"),
		url("img/dunescape_layer_2_dark.webp"),
		url("img/dunescape_layer_1_dark.webp"),
		url("img/dunescape_layer_0_dark.webp"),
		url("img/dunescape_sky_dark.webp");
}

@font-face {
	font-family: SimpleScript;
	src: url("font/Simple_Script_Wide_Lowers.ttf");
}

body {
	height: 100%;
	margin: 0;
	font-family: SimpleScript, sans-serif;
	font-size: 0.75rem;
	border-color: var(--border-color);
	color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	color: var(--heading-color);
}

p {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

img {
	max-width: 100%;
	max-height: 50vh;
	border: 4px solid var(--border-color);
	box-sizing: border-box;
	object-fit: cover;
}

a {
	color: var(--link-color);
}

.spring ul {
	list-style-image: url("img/bullet_point.gif");
}

.spring.dark ul {
	list-style-image: url("img/bullet_point_dark.gif");
}

li {
	margin-bottom: 0.5em;
}

code {
	font-size: 0.875rem;
}

pre {
	margin-bottom: 2em;
}

pre code {
	display: block;
	padding: 1em;
	overflow-x: auto;
	tab-size: 3;
}

/*-------------------------------Flexbox Layout-------------------------------*/

.layout {
	height: 100%;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.upper {
	height: calc(100% - 0.875rem);
	/* Flex Container */
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.header {
	padding-left: 16px;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.main {
	min-width: 0;
	width: 100%;
	min-height: 0;
	max-height: 100%;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.settings {
	padding-top: 16px;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-end;
}

.footer {
	/* Flex Container */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-end;
}

.welcome.nav {
	/* Flex Container */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.subpage.nav {
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

#cactus-dialog {
	min-height: 0;
	max-height: 100%;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#cactus-dialog.max {
	width: min(120ch, 100%);
}

#cactus-dialog > div {
	min-height: 0;
	max-height: 100%;
}

#cactus-dialog.max > div {
	width: calc(100% - 96px);
}

.scrollable {
	min-height: 0;
	max-height: 100%;
	padding: 0 1.5rem;
	overflow-x: hidden;
	overflow-y: auto; /* scrollable */
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

/*----------------------------------Borders-----------------------------------*/

.prickly {
	border: 48px solid transparent;
	border-image: url("img/prickly_border.png") 48 round;
	background-color: var(--bg-color);
	background-clip: padding-box;
}

.dark .prickly {
	border-image-source: url("img/prickly_border_dark.png");
}

.simple-border {
	margin: 8px;
	padding: 16px;
	border: 8px solid transparent;
	border-image: url("img/simple_border.png") 8 round;
}

.dark .simple-border {
	border-image-source: url("img/simple_border_dark.png");
}

/*----------------------------------Buttons-----------------------------------*/

.button {
	margin: 4px 0;
	border: 12px solid transparent;
	border-image: url("img/button_border.png") 12 round;
	padding: 8px 4px 0 4px;
	background-color: var(--button-color);
	background-clip: padding-box;
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}

.button:hover {
	padding-top: 4px;
	padding-bottom: 4px;
	border-image-source: url("img/button_border_raised.png");
}

.button:active {
	padding-top: 8px;
	padding-bottom: 0;
	border-image-source: url("img/button_border.png");
}

.spring .button {
	border-image-source: url("img/button_border_spring.png");
}

.spring .button:hover {
	border-image-source: url("img/button_border_spring_raised.png");
}

.spring .button:active {
	border-image-source: url("img/button_border_spring.png");
}

.dark .button {
	border-image-source: url("img/button_border_dark.png");
}

.dark .button:hover {
	border-image-source: url("img/button_border_dark_raised.png");
}

.dark .button:active {
	border-image-source: url("img/button_border_dark.png");
}

/*-----------------------------Navigation Buttons-----------------------------*/

.nav .button {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 1rem;
	color: var(--text-color);
}

.dark .nav .button {
	color: lemonchiffon;
	font-weight: bold;
}

.dark.spring .nav .button {
	color: plum;
}

/*----------------------------Close & Back Buttons----------------------------*/

.exit-bar {
	/* Flex Container */
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: flex-start;
}

.exit-bar > a {
	margin: 0 0 0 8px;
	padding: 4px 0 0 0;
	/* Text */
	font-family: inherit;
	font-size: 1rem;
	font-weight: bold;
	color: inherit;
	text-decoration: none;
}

.exit-bar > a:hover {
	padding-top: 0;
	padding-bottom: 4px;
}

.exit-bar > a:active {
	padding-top: 4px;
	padding-bottom: 0;
}

.exit-bar.hidden {
	display: none;
}

.exit-bar + div {
	max-height: calc(100% - 1.5rem);
}

.exit-bar.hidden + div {
	max-height: 100%
}

/*------------------------------Settings Buttons------------------------------*/

#theme-btn {
	width: 64px;
	height: 64px;
	margin: 4px 16px 4px 4px;
	background-image: url("img/theme_sprites.png"); /* sprite sheet */
}

#theme-btn:hover {
	background-position-x: -64px;
}

#theme-btn:active {
	background-position-x: 0;
}

.dark #theme-btn {
	background-position-y: -64px;
}

#mute-btn {
	width: 64px;
	height: 64px;
	margin: 4px 8px;
	background-image: url("img/mute_sprites.png"); /* sprite sheet */
}

#mute-btn.muted {
	background-position-y: -64px;
}

#mute-btn:hover {
	background-position-x: -64px;
}

#mute-btn:active {
	background-position-x: 0;
}

.dark #mute-btn {
	background-image: url("img/mute_sprites_dark.png"); /* sprite sheet */
}

/*--------------------------------ID Elements---------------------------------*/

#title-heading {
	margin: 0.875rem 16px 0 4px;
	text-wrap: nowrap;
}

.spring #title-heading {
	color: var(--text-color);
}

#content {
	width: min(90ch, 100%);
}

#copyright {
	z-index: 1;
	margin: 0;
	font-family: Verdana, sans-serif;
	font-size: 0.75rem;
	color: dimgray;
}

#cactus {
	width: 256px;
	height: 256px;
	position: fixed;
	padding: 0;
	border: none;
	background-color: transparent;
	background-image: url("img/cactus.png");
	background-size: 100%;
}

.dark #cactus {
	background-position-y: -256px;
}

#cactus:active {
	transform: translateY(4px);
}

/*-------------------------------Mobile Styling-------------------------------*/

@media (max-width: 800px) {

	img {
		max-height: 90vh;
	}

	/*----------Flexbox Layout----------*/

	.layout {
		height: auto;
		min-height: 100%;
	}

	.upper {
		/* Flex Container */
		flex-flow: row wrap;
		justify-content: start;
		align-items: flex-start;
	}

	.header {
		/* Flex Item */
		order: 1;
	}

	.main {
		width: 100%;
		/* Flex Item */
		order: 3;
	}

	.settings {
		margin-left: auto;
		padding-top: 0;
		/* Flex Item */
		order: 2;
		/* Flex Container */
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: flex-start;
	}

	.footer {
		margin-top: 210px;
	}

	.scrollable {
		padding: 0;
	}

	/*----------Hide Desktop Elements----------*/

	.desktop, .desktop * {
		display: none;
	}

	/*----------Prickly Border----------*/

	.prickly {
		border-image-source: url("img/prickly_border_mobile.png");
	}

	.dark .prickly {
		border-image-source: url("img/prickly_border_mobile_dark.png");
	}

	/*----------Close & Back Buttons----------*/

	.exit-bar {
		/* Flex Container */
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.exit-bar > a {
		margin-left: 0;
		font-size: 1.5rem;
	}

	/*----------Settings Buttons----------*/

	#theme-btn {
		margin-right: 4px;
	}

	/*----------ID Elements----------*/

	#cactus {
		width: 192px;
		height: 192px;
	}

	.dark #cactus {
		background-position-y: -192px;
	}

	#cactus:active {
		transform: translateY(3px);
	}
}
