/**
 * sandscape.css
 * Author: Riley Mann
 * 
 * Stylesheet for sandscape background
 * 
 * Created on 7 May 2025
 */

#sandscape {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
	background-image:
		url("img/sandscape_layer_5.webp"),
		url("img/sandscape_layer_4.webp"),
		url("img/sandscape_layer_3.webp"),
		url("img/sandscape_layer_2.webp"),
		url("img/sandscape_layer_1.webp"),
		url("img/sandscape_layer_0.webp"),
		url("img/sandscape_sky.webp");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:
		center,
		center,
		center,
		center,
		center,
		center,
		center top;
	background-size:
		cover,
		cover,
		cover,
		cover,
		cover,
		cover,
		cover;
}

.dark #sandscape {
	background-image:
		url("img/sandscape_layer_5_dark.webp"),
		url("img/sandscape_layer_4_dark.webp"),
		url("img/sandscape_layer_3_dark.webp"),
		url("img/sandscape_layer_2_dark.webp"),
		url("img/sandscape_layer_1_dark.webp"),
		url("img/sandscape_layer_0_dark.webp"),
		url("img/sandscape_sky_dark.webp");
}
