/**
 * style.css
 * Author: Riley Mann
 * 
 * Main stylesheet for zeropt.github.io
 * 
 * Created on 19 Apr. 2025
 */

@font-face {
	font-family: SimpleScript;
	src: url("../font/Simple_Script_Wide_Lowers.ttf");
}

html {
	height: 100%;
}

body {
	/* Size */
	height: 100%;
	/* Box */
	margin: 0;
	/* Background Image */
	background: url("../img/dunescape.png") no-repeat center fixed;
	background-size: cover;
	/* Text */
	font-family: SimpleScript, sans-serif;
	font-size: 0.875em; /* 14px/16=0.875em */
}

img {
	max-width: 400px;
	height: auto;
}

.layout {
	/* size */
	height: 100%;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.upper {
	/* Box */
	height: calc(100% - 1.5em);
	/* Flex Container */
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.header {
	/* Box */
	padding: 0 0 0 16px;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.main {
	/* Box */
	min-height: 0;
	max-height: 100%;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.settings {
	/* Box */
	padding-top: 16px;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-end;
}

.footer {
	/* Flex Container */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-end;
}

.subpage.nav {
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-items: flex-start;
	align-items: flex-start;
}

.welcome.nav {
	/* Flex Container */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.prickly-border {
	/* Border */
	border: 48px solid transparent;
	border-image: url("../img/prickly_border.png") 60 round;
	/* Background */
	background-color: white;
	background-clip: padding-box;
}

.nav > button {
	/* Box */
	margin: 4px 4px;
	padding: 4px 32px;
	/* Border */
	border: 12px solid transparent;
	border-image: url("../img/simple_border.png") 12 round;
	/* Background */
	background-color: lemonchiffon;
	background-clip: padding-box;
	/* Text */
	font-family: inherit;
	font-size: 1em; /* 16px */
}

.nav > button:hover {
	border-image: url("../img/simple_border_shadow.png") 12 round;
	transform: translateY(-4px);
}

.nav > button:active {
	border-image: url("../img/simple_border.png") 12 round;
	transform: translateY(0);
}

button.close-btn {
	/* Box */
	margin: 0;
	padding: 0;
	/* Border */
	border-width: 0;
	/* Background */
	background-color: transparent;
	/* Flex Item */
	align-self: flex-end;
	/* Text */
	font-family: inherit;
	font-size: 1em; /* 16px */
	font-weight: bold;
}

button.close-btn:hover {
	transform: translateY(-4px);
}

button.close-btn:active {
	transform: translateY(0);
}

.subpage.prickly-border {
	/* Size */
	min-height: 0;
	max-height: 100%;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
}

#title-heading {
	/* Box */
	margin: 0.875em 16px 0 4px;
	/* Text */
	text-wrap: nowrap;
}

#theme-btn {
	/* Size */
	width: 64px;
	height: 64px;
	/* Box */
	margin: 4px 16px 4px 4px;
	/* Sprite Sheet */
	background-image: url("../img/theme_sprites.png");
}

#theme-btn.dark {
	background-position-y: -64px;
}

#theme-btn:hover {
	background-position-x: -64px;
}

#theme-btn:active {
	background-position-x: 0;
}

#mute-btn {
	/* Size */
	width: 64px;
	height: 64px;
	/* Box */
	margin: 4px 8px;
	/* Sprite Sheet */
	background-image: url("../img/mute_sprites.png");
}

#mute-btn.muted {
	background-position-y: -64px;
}

#mute-btn:hover {
	background-position-x: -64px;
}

#mute-btn:active {
	background-position-x: 0;
}

#cactus-img {
	position: fixed;
}

#content-box {
	min-height: 0;
	max-height: 100%;
	/* Scrollable */
	overflow-x: hidden;
	overflow-y: auto;
}

#copyright {
	/* Box */
	margin: 0;
	/* Text */
	font-family: Verdana, sans-serif;
	color: dimgray;
}
