/**
 * style.css
 * Author: Riley Mann
 * 
 * Main stylesheet for zeropt.github.io
 * 
 * Created on 19 Apr. 2025
 */

@font-face {
	font-family: SimpleScript;
	src: url("../font/Simple_Script_Wide_Lowers.ttf");
}

html {
	height: 100%;
}

body {
	/* Size */
	height: 100%;
	/* Box */
	margin: 0;
	/* Background Image */
	background: url("../img/dunescape.png") no-repeat center fixed;
	background-size: cover;
	/* Text */
	font-family: SimpleScript, sans-serif;
	font-size: 0.875em; /* 14px/16=0.875em */
	color: black;
}

body.dark {
	/* Background Image */
	background: url("../img/dunescape_dark.png") no-repeat center fixed;
	background-size: cover;
	/* Text */
	color: lavenderblush;
}

img {
	max-width: 300px;
	height: auto;
}

/*-------------------------------Flexbox Layout-------------------------------*/

.layout {
	/* size */
	height: 100%;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.upper {
	/* Box */
	height: calc(100% - 1.5em);
	/* Flex Container */
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.header {
	/* Box */
	padding: 0 0 0 16px;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.main {
	/* Box */
	min-height: 0;
	max-height: 100%;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.settings {
	/* Box */
	padding-top: 16px;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-end;
}

.footer {
	/* Flex Container */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-end;
}

.welcome.nav {
	/* Flex Container */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.subpage.nav {
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
	justify-items: flex-start;
	align-items: flex-start;
}

/*-----------------------------Navigation Buttons-----------------------------*/

.nav > a {
	/* Box */
	margin: 4px 4px;
	padding: 4px 32px;
	/* Border */
	border: 12px solid transparent;
	border-image: url("../img/simple_border.png") 12 round;
	/* Background */
	background-color: lemonchiffon;
	background-clip: padding-box;
	/* Text */
	font-family: inherit;
	font-size: 1.25em; /* 20px */
	color: inherit;
	text-decoration: none;
}

.nav > a:hover {
	border-image-source: url("../img/simple_border_shadow.png");
	transform: translateY(-4px);
}

.nav > a:active {
	border-image-source: url("../img/simple_border.png");
	transform: translateY(0);
}

.nav.dark > a {
	/* Border */
	border-image-source: url("../img/simple_border_dark.png");
	/* Background */
	background-color: #262626;
	/* Text */
	color: lemonchiffon;
	font-weight: bold;
}

.nav.dark > a:hover {
	border-image-source: url("../img/simple_border_dark_shadow.png");
}

.nav.dark > a:active {
	border-image-source: url("../img/simple_border_dark.png");
}

/*----------------------------Close Subpage Buttom----------------------------*/

a.close-btn {
	/* Box */
	margin: 0;
	padding: 0;
	/* Flex Item */
	align-self: flex-end;
	/* Text */
	font-family: inherit;
	font-size: 1em; /* 16px */
	font-weight: bold;
	color: inherit;
	text-decoration: none;
}

a.close-btn:hover {
	transform: translateY(-4px);
}

a.close-btn:active {
	transform: translateY(0);
}

/*--------------------------------ID Elements---------------------------------*/

#title-heading {
	/* Box */
	margin: 0.875em 16px 0 4px;
	/* Text */
	text-wrap: nowrap;
}

#theme-btn {
	/* Size */
	width: 64px;
	height: 64px;
	/* Box */
	margin: 4px 16px 4px 4px;
	/* Sprite Sheet */
	background-image: url("../img/theme_sprites.png");
}

#theme-btn.dark {
	background-position-y: -64px;
}

#theme-btn:hover {
	background-position-x: -64px;
}

#theme-btn:active {
	background-position-x: 0;
}

#mute-btn {
	/* Size */
	width: 64px;
	height: 64px;
	/* Box */
	margin: 4px 8px;
	/* Sprite Sheet */
	background-image: url("../img/mute_sprites.png");
}

#mute-btn.dark {
	/* Sprite Sheet */
	background-image: url("../img/mute_sprites_dark.png");
}

#mute-btn.muted {
	background-position-y: -64px;
}

#mute-btn:hover {
	background-position-x: -64px;
}

#mute-btn:active {
	background-position-x: 0;
}

#prickly-dialog {
	/* Size */
	min-height: 0;
	max-height: 100%;
	/* Border */
	border: 48px solid transparent;
	border-image: url("../img/prickly_border.png") 48 round;
	/* Background */
	background-color: white;
	background-clip: padding-box;
	/* Flex Container */
	display: flex;
	flex-flow: column nowrap;
}

#prickly-dialog.dark {
	/* Border */
	border-image-source: url("../img/prickly_border_dark.png");
	/* Background */
	background-color: #262626;
}

#content-box {
	min-height: 0;
	max-height: 100%;
	/* Scrollable */
	overflow-x: hidden;
	overflow-y: auto;
}

#copyright {
	z-index: 1;
	/* Box */
	margin: 0;
	/* Text */
	font-family: Verdana, sans-serif;
	color: dimgray;
}

#cactus-img {
	/* Size */
	width: 256px;
	height: auto;
	/* Positioning */
	position: fixed;
}

#cactus-img:active {
	transform: translateY(4px);
}

/*-------------------------------Mobile Styling-------------------------------*/

@media (max-width: 800px) {

	body {
		/* Text */
		font-size: 0.75em; /* 12px/16=0.75em */
	}

	/*----------Flexbox Layout----------*/

	.layout {
		height: auto;
		min-height: 100%;
	}

	.upper {
		/* Flex Container */
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.header {
		/* Flex Item */
		order: 1;
	}

	.main {
		/* Box */
		width: 100%;
		/* Flex Item */
		order: 3;
	}

	.footer {
		height: auto;
	}

	.settings {
		/* Box */
		padding-top: 0;
		/* Flex Item */
		order: 2;
		/* Flex Container */
		flex-flow: row wrap;
		align-items: flex-start;
	}

	/*----------Hide Desktop Elements----------*/

	.desktop, .desktop * {
		display: none;
	}

	/*----------Close Subpage Buttom----------*/

	a.close-btn {
		/* Text */
		font-size: 1.5em; /* 18px */
	}

	/*----------ID Elements----------*/

	#theme-btn {
		/* Box */
		margin-right: 4px;
	}

	#prickly-dialog {
		border-image-source: url("../img/prickly_border_mobile.png");
	}

	#prickly-dialog.dark {
		border-image-source: url("../img/prickly_border_mobile_dark.png");
	}

	#cactus-img {
		/* Size */
		width: 192px;
	}

	#cactus-img:active {
		transform: translateY(3px);
	}
}
